<div class="row">
  <h2 data-aos="fade-in" data-aos-duration="2000">Zion's Mightiest Brothers</h2>
  <h3>Executive Board</h3>
  <h4>President: <small>Bryan Garcia</small></h4>
  <h4>Vice President: <small>Clarence Go</small></h4>
  <h4>Treasurer: <small>Aaron Fajardo</small></h4>
  <h4>Secretary: <small>Leonard Manalo</small></h4>
  <h3>Board</h3>
  <h4>Social Chair: <small>Calvin Ho</small></h4>
  <h4>Philanthropy Chair: <small>Bryan Cruz</small></h4>
  <h4>Fundraising Chair: <small>Bryan Cruz and Calvin Ho</small></h4>
  <h4>Academic Chair: <small>Gustavo Pech</small></h4>
  <h4>Cultural Chair: <small>Leonardo Manalo</small></h4>
  <h4>Historian: <small>Gustavo Pech</small></h4>
  <h4>Queen's Chair: <small>Leonard Manalo</small></h4>
  <h4>Brotherhood Chair: <small>Clarence Go</small></h4>
  <h3>Brothers</h3>
  <p>Filter by:</p>
  <input
    type="text"
    placeholder="Filter by number, name, aka, family, class name, semester crossed ..."
    ng-model="vm.filterBrothers"
    class="col-xs-12"
  />
  <p
    ng-repeat="brother in vm.brothers | orderBy: '_id' | filter: vm.filterBrothers"
  >
    {{ brother._id }}. {{ brother.name }} aka {{ brother.aka }} | {{
    brother.family }} Fam | {{ brother.className }} - {{ brother.crossed }}
  </p>
</div>
