body {
	padding: 15px 0 0 0;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	color: #595959;
	background-color: #fff;
}

h1 {
	font-family: 'Julius Sans One', sans-serif;
	font-size: 32px;
	font-weight: bolder;
	letter-spacing: 5px;
}

h2 {
	font-family: 'Julius Sans One', sans-serif;
	font-size: 28px;
	font-weight: bold;
	letter-spacing: 2.5px;
	color: #547a63;
}

h3 {
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	letter-spacing: 1.5px;
	color: #e3ce86;
}

h4 {
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
}

/* unvisited link */
a:link {
  color: #517d73;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: #517d73;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: #85bb93;
  text-decoration: none;
}

/* selected link */
a:active {
  color: #85bb93;
  text-decoration: none;
}

/* unvisited link */
.family-tree-link:link {
  color: #466846;
  text-decoration: none;
}

/* visited link */
.family-tree-link:visited {
  color: #466846;
  text-decoration: none;
}

/* mouse over link */
.family-tree-link:hover {
  color: #cee0ce;
  text-decoration: none;
}

/* selected link */
.family-tree-link:active {
  color: #cee0ce;
  text-decoration: none;
}

.zmb-nav-tabs {
	padding: 0;
	margin-top: 5%;
}

.thumbnail {
	margin: 0;
	border: none;
}

#view {
	padding: 0 30px;
}

#contacts {
	height: 200px;
	border-top: 2px #ddd solid;
	background-color: #eee;
}

#family-tree-wrapper {
	width: 100%;
	height: 100%;
	padding: 0;
	overflow-x: scroll;
}

#family-tree-nav {
	padding: 0;
}

.family-tree-nav-tab {
	padding: 0;
	margin-left: 0 !important;
}

.nav-pills > li.active > a {
	color: #466846 !important;
	background-color: #eee !important;
}

.node {
  cursor: pointer;
}
    
.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 2px;
}

.node text {
  font-size: 15px;
  font-family: 'Arvo', serif;
}

.link {
  fill: none;
  stroke: #ddd;
  stroke-width: 5px;
}

#edit-brothers-buttons {
	padding: 0;
}
